*html {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(image-header.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    text-align: right;
    padding: 30px;

    img {
        float: left;
        padding: 10px;
    }

    ul {
        display: inline-block
    }

    .linav {
        display: inline;
        padding: 20px;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-family: DM Sans, sans-serif;
    }
}

#h_cie {
    width: 700px;
    margin: auto;

    h1 {

        font-family: DM Sans;
        font-size: 53px;
    }

    H1 strong {
        font-family: DM Sans;
        font-size: 160px;
    }

    H2 {
        font-family: DM Sans;
        font-size: 28px;
    }
}

#boutonhero {
    text-decoration: none;

    .btn {
        padding: 15px;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 5px;
    }

    .noir {
        color: white;
        background: black;
    }
}

main {
    background-color: black;
}

#page2 {
    color: white;
    margin: auto;

    div {
        width: 700px;
    }

    h2 {
        font-family: DM Sans, sans-serif;
        font-size: 36px;
    }

    p {
        font-family: DM Sans, sans-serif;
        font-size: 18px;
    }
}